/NetBeansProjects/PropertyRental_2A/nbproject/private/
/NetBeansProjects/PropertyRental_2A/build/
/NetBeansProjects/JavaApplication3/nbproject/private/
/NetBeansProjects/Property_Rental2A/nbproject/private/
/NetBeansProjects/Property_Rental2A/build/